body {
    background: url(../img/background.jpg) repeat-x;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1280px;
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0 auto;
    width: 1000px;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
}

header {
    display: flex;
    justify-content: space-between;
    height: 175px;
    border-bottom: 1px solid #128aa7;
    font-family: Tahoma sans-serif;
    color: #128aa7;
}

.head_left {
    display: flex;
    margin: 12px 0 0 26px;
    height: 93%;
    justify-content: flex-end;
}

.icon {
    margin-right: 33px;
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon a {
    color: #128aa7;
}

.contacts {
    margin: 11px 0 33px 0;
}

.contacts li{
    line-height: 1.2;
}

ul {
    list-style: none;
}

.contries {
    display: inline-flex;
    width: 324px;
    justify-content: space-between;
}

.country a {
    display: block;
    text-align: center;
    width: 62px;
}

article > img {
    border-bottom: 1px solid #128aa7;
}

/*nav ul li a {*/
    /*background-color: #353535;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 47px;*/
    /*text-align: center;*/
    /*display: inline;*/
    /*text-decoration: none;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-size: 18px;*/
    /*color: #000;*/
    /*vertical-align: middle;*/

section ul {
    display: flex;
    background-color: #353535;
    height: 28px;
    border-top: 1px solid #cacbcb;
    border-bottom-color: #000;
            }

.nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}

.sub-nav {

}
ul li ul {
    display: none;
    position: absolute;
}

/*&#9662*/