body {
    background: url(../img/background.jpg) repeat-x;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1280px;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    margin: 0 auto;
    width: 1000px;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
}

header {
    display: flex;
    justify-content: space-between;
    height: 175px;
    border-bottom: 1px solid #128aa7;
    font-family: sans-serif;
    color: #128aa7;
    font-size: 12px;
}

.head_left {
    display: flex;
    margin: 12px 0 0 26px;
    height: 93%;
    justify-content: flex-end;
}

.icon {
    margin-right: 33px;
    width: 326px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon a {
    color: #128aa7;
}

.contacts {
    margin: 11px 0 21px 0;
}

.contacts li{
    line-height: 1.2;
}

ul {
    list-style: none;
}

.contries {
    display: inline-flex;
    width: 330px;
    justify-content: space-between;
    padding-left: 0;
}

.country a {
    display: block;
    text-align: center;
    width: auto;
}

.country p{
    margin: 0;
}

article > img {
    border-bottom: 1px solid #128aa7;
}

.nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 28px;
    list-style: none;
    align-items: center;
    margin: 0;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #303030;
    background-color: #343434;
    padding: 0;
}

.nav > ul > a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
}

.nav ul li {
    position: relative;
}

.sub-nav {
    display: none;
    position: absolute;
    background: #303030;
    width: 160px;
}

.sub-nav:nth-child(2) {
    width: 130px;
}

.sub-nav > a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.nav > ul > li:hover > .sub-nav {
    display: block;
}

.content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.block-left, .block-right {
    width: 208px;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    line-height: 1;
}

.content p {
    font-size: 14px;
    display: inline-block;
    margin: 0;
    line-height: 1.5;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 12px 0 10px 0;
}

footer {
    color: white;
    display: flex;
    justify-content: center;
}

